body{
	background-image: url("./../images/br_nickel.png");
}

/*div{
	border: dotted black 1px;
}*/

h1{
	text-align: center;

}

li.active{
	background-image: url("./../images/br_brass.jpg");
	background-color: transparent;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
	background-color: transparent;
	border: 2px solid #9eaeb5;
	border-bottom: transparent;
	margin-right: 0px;
	font-weight: bold;
}

.container-fluid{
	padding-right:0px;
	padding-left:0px;
}

.copyright{
	text-align: center;
}

.footer{
	border-top: 3px solid #9c501a;
	background-image: url("./../images/br_copper2.jpg");
	background-size: 100%;
	/*position: absolute*/;
	/*bottom: 0px;*/

}

#headshot{
	width: 75%;
	height: auto;
	padding-bottom: 10px;
}

.icon {
	height: 45px;
	width: 45px;
	margin: 10px 10px 0px 10px;
}

.iconlnk{
	float:left;
	width:33%;
}

.mainbody{
	
}

.namelogo{
	margin: 1% 1% 1% 2%;
	padding: 0.5% 1%;
	background-image: url("./../images/br_brass.jpg");
	background-size: 100%;
	min-width: 251px;
}

.banner{
	background-color: #ebebeb;
	margin-bottom: 0px;
}

.maincontent{
	margin: 10px 0px;
	background-color: #ebebeb;
	border-radius: 5px;
}

.navbar{
	margin-bottom: 0px;
	background-color: #ebebeb;
}

.navtabs{
	margin-left: 16%;
}

.nav-tabs{
	min-width: 251px;
	/*position: absolute;
	right: 5%;
	bottom: 0%;*/
}

.panel{
	margin-top: 4%;
	width:90%;
}

.panel-title{
	border-bottom: 2px solid #999;
	padding-bottom: 10px;
}

.topfill{
	height: 50px;
}

@media screen and (max-width: 1003px){
	.navtabs{
		margin-left: 3%;
	}
}

@media screen and (max-width: 768px){
	.topfill{
		height: 10px;
	}

	.navtabs{
		margin-left: 23%;
	}
}

@media screen and (max-width: 500px){
		.navtabs{
		margin-left: 15%;
	}
}


